# Python
backend/.venv/
__pycache__/
*.pyc
.env

# Локальное хранилище файлов
backend/storage/

# Логи
backend/logs/

# Node
frontend/node_modules/
frontend/dist/

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
